body {
	margin: 5px 5px;
	padding: 0 5px;
	font-family: Arial, sans-serif;
	font-size: 70%;
	margin: 10px;
}

a {
	color: #0000cc;
}

a:hover, a:visited, a:active {
	color: #880000;
}

#header {
	padding: 8px;
	background:#e5ecf9;
}
#main {
  float: left;
  width: 90%;
  padding-left: 5px;
}
#nav {
  text-align: right;
  margin: 0 0 5px;
}
#nav a {
  margin: 0 7px 0 0;
}
h1,
#scopes h4,
#tokens h4 {
  margin-top: 2;
}
#header,
#scopes,
#tokens {
  -moz-border-radius: 5px;
}

label.create {
  display: inline-block;
  text-align:right;
  width: 40%;
  margin-right: 5px;
}

table.file_diffs {
	font-family:Monaco,"Lucida Console","Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

table {
	border-spacing:0;
	border: 1px solid #D9D8D1;
	padding:8px 4px;
	border-collapse:collapse;
	background:#EAF2F5 url(/static/bg_gradient.gif) repeat-x scroll 0 100%;
}

th{
	background-color:#E5ECF9;
	border:1px solid #3366CC;
	font-weight:bold;
	padding:6px 12px;
	text-align:left;
	font-family:sans-serif;
}

tfoot {
	border: 1px solid #D9D8D1;
}

.matrix_background
{
	background:#e7e9f9;
}

.matrix_fontsize
{
	font-size: 8.4pt;
}

.matrix_header
{
	text-align:center;	
	background:#FFFFFF url(http://www.google.com/uds/modules/gviz/1.0/table/title-bg.gif) repeat-x scroll left bottom;
	font-family:sans-serif;
	font-weight:bold;	
}

table.file_diffs td {
	padding-right: 4px;
}

td.number {
	font-family:sans-serif;
	text-align:right;
}

#commitinfo {
	margin: 6px 0px;	
	padding:0 0.7em 0.7em;
	background:#EAF2F5 url(/static/bg_gradient.gif) repeat-x scroll 0 100%;
	border:1px solid #BEDCE7;
	font-family:Monaco,"Lucida Console","Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	color: #808080;
}

#branchselect
{
	margin-top: 6px;
	width: 250px;
	padding:0.5em;
	background:#EAF2F5 url(/static/bg_gradient.gif) repeat-x scroll 0 100%;
	border:1px solid #BEDCE7;
	color: #808080;
}

select
{
	font-size: 8.4pt
}

input
{
	font-size: 8.4pt
}

a.list {
	color:#000000;
	text-decoration:none;
}

a.list:hover {
	color:#3366CC;
	text-decoration:underline;
}

