<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Heatmap</title>
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<link rel="icon" type="image/png" href="/static/fire.png">
</head>
<body><div id="main">
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1', {packages: ['table', 'annotatedtimeline']});
var json_table;
var json_tableView;
var cssClassNames = {'tableRow': "matrix_fontsize", 
'selectedTableRow': 'matrix_fontsize', 
'hoverTableRow': "matrix_fontsize matrix_background", 
'headerRow': 'matrix_fontsize matrix_header'};
var tableOptions = {'showRowNumber': false, 'alternatingRowStyle':false, 'allowHtml':true, 'cssClassNames':cssClassNames};
var timelineOptions = {'allowHtml':true};
var json_timeline;
var json_timelineData;


function doResize()
{
	json_table.draw(json_tableView, tableOptions);
	json_timeline.draw(json_timelineData, timelineOptions);
}

function drawTableVisualization()
{
	numDirectories = {{ numDirectories }}
	json_table = new google.visualization.Table(document.getElementById('table_div_json'));
	var json_data = new google.visualization.DataTable( {{ json_table|safe}} );

	var colourFormatter = new google.visualization.ColorFormat();
	colourFormatter.addRange(0, 50, 'black', 'lightgreen');
	colourFormatter.addGradientRange(50, 400, 'black', 'lightgreen', 'DarkOrange');
	colourFormatter.addRange(400, null, 'black', 'DarkOrange');
	
	var urlFormatter = new google.visualization.PatternFormat('<a class=\'list\' href="{1}">{0}</a>');
	var viewColumns = [0];
	for( i=1; i<=numDirectories; i++ )
	{
		colourFormatter.format(json_data, i);
		urlFormatter.format(json_data, [i, i+numDirectories]);
		viewColumns[i] = i;
	}

	var totalColourFormatter = new google.visualization.ColorFormat();
	totalColourFormatter.addRange(0, 500, 'black', 'lightgreen');
	totalColourFormatter.addGradientRange(500, 2000, 'black', 'lightgreen', 'DarkOrange');
	totalColourFormatter.addRange(2000, null, 'black', 'DarkOrange');
	totalColourFormatter.format(json_data, i+numDirectories);
	viewColumns[i] = i+numDirectories; // Total column
	
	// only draw the first numDirectories columns
	json_tableView = new google.visualization.DataView(json_data);
	json_tableView.setColumns(viewColumns);

	json_table.draw(json_tableView, tableOptions);
}

function drawTimelineVisualization()
{
	json_timelineData = new google.visualization.DataTable( {{ json_timeline|safe}} );

	json_timeline = new google.visualization.AnnotatedTimeLine(document.getElementById('timeline'));
	json_timeline.draw(json_timelineData, timelineOptions);
}

function drawVisualization()
{
	drawTableVisualization();
	drawTimelineVisualization();
}

google.setOnLoadCallback(drawVisualization);
window.onresize = doResize;
</script>

<a href="{% url home %}"><h1 id="header" >Basekit Animation Heatmap</h1></a>
<h2 id="header">{{ baseBranch }} Lines of Difference</h2>

<div id="table_div_json"></div>

<div id="branchselect">
<form name="branchselect" action="{% url matrix %}">
Base Branch:
<select name="bb">
	{% for branch in branches %}
	<option value='{{ branch }}'
	{% ifequal branch baseBranch %}
selected="selected">
	{% else %}
>
	{% endifequal %}
	{{ branch }}
	</option>
	{% endfor %}
</select>
<input type="submit" value="Submit" />
</form>
</div>

<div id="timeline" style="height: 400px; margin-top: 6px">
{% if not json_timeline %}
Generating Timeline, please try again in a moment...
{% endif %}
</div>

</div>
</body>
</html>